body {
  margin: 0;
  padding: 0;
}

body h1{
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

#row{
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: center;
  font-size: 500%;
  padding-bottom: 2%;
  color: white;
  background-color: #808080;
}

.close_form{
  text-align: left;
  padding-top: 2%;
  padding-left: 2%;
}

.box {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFE600;
  text-align: center;
  border-color: #808080;
}

.expand{
  padding-left: 8%;
  text-align: left;
}

.target_name {
  font-family: 'Roboto', sans-serif;
  color: #336699;
  font-weight: 600;
  }




font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Cabin', sans-serif;
